
{% extends 'base.html' %}

    {% block content %}
    <!-- body -->
    <div class="container mt-3">
      <div class="row mx-auto">
        {% for product in products %}

        <div class="card mx-3 mb-3" style="width: 18rem">
          <img src="{{product.image.url}}" class="card-img-top" alt="mage" />
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.descripton}}</p>
            <p class="card-text">{{product.price}}</p>
            <a href="#" class="btn btn-light  ">Add to cart</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endblock %}
